TELEGRAM_BOT_TOKEN=
CHAT_ID=
# URLs dos CSVs oficiais do Tesouro Direto
URL_CSV_INVESTIR=https://www.tesourodireto.com.br/documents/d/guest/rendimento-investir-csv?download=true
URL_CSV_RESGATAR=https://www.tesourodireto.com.br/documents/d/guest/rendimento-resgatar-csv?download=true
URL_FILE_TESOURO=https://www.tesourotransparente.gov.br/ckan/dataset/df56aa42-484a-4a59-8184-7676580c81e3/resource/796d2059-14e9-44e3-80c9-2d9e30b405c1/download/PrecoTaxaTesouroDireto.csv
ALERTA_RENTABILIDADE=13
ALERTA_PERIODO_MINUTOS=3
