.bold-text {
  font-weight: bold;
}

#data-atualizacao {
  font-weight: bold;
}

.janela-otima {
  color: green;
}

.janela-boa {
  color: blue;
}

.janela-ruim {
  color: orange;
}

.janela-pessima {
  color: red;
}

.input-group {
  max-width: 330px; 
  padding-left: 16px;
}